.price{
  padding: 28px 0 0;
  .title{
    margin-bottom: 20px;
  }
}
.price-item{
  width: calc(100% + 10px);
  margin: 0 -10px 25px;
  &__title{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    background: $primary;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 26px 14px;
    letter-spacing: .4px;
    box-sizing: border-box;
    margin-bottom: 24px;
    width: calc(100% + 15px);
    .icon{
      width: 24px;
      height: 24px;
      fill: $white;
      display: inline-block;
      margin: 0 10px 0 0;
    }

  }
  &__table{
    display: none;
    &.is-active{
      display: none;
    }
  }
  &.active{
    .price-item__title{
      .icon{
        transform: rotate(180deg);
      }
    }
    .price-item__table{
      display: block;
    }
  }
}
.price-wrap{
  margin-left: -15px;
  .table-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    &__numb{
      width: 40px;
      height: 40px;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $gray;
    }
    &__title{
      width: calc(100% - 45px);
      padding: 16px 0 0 25px;
      margin-bottom: 14px;
    }
    &__price{
      width: 100%;
      padding-left: 0;
      text-align: right;
      font-size: 18px;
      line-height: 25px;
      color: $primary;
      font-weight: 600;
      span{
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        display: inline-block;
        color: $gray-100;
        margin-right: 10px;
      }
    }
    &:first-of-type{
      display: none;
    }
    &__text{
      margin: 16px 26px;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      p{
        margin-bottom: 0px;
      }
      ul{
        margin-bottom: 23px;
      }
      li{
        position: relative;
        &:before{
          position: relative;
          content: '';
          left: 0;
          top: -2px;
          width: 5px;
          display: inline-block;
          height: 5px;
          margin-right: 10px;
          background: $primary;
          border-radius: 50%;
        }
      }
    }
  }
}
.price-info{
  &__title{
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__text{
    p{
      font-size: 14px;
      line-height: 23px;
    }
  }
}