.reviews{
  padding: 28px 0 19px;
  .btn-arrow{
    max-width: 300px;
    margin-bottom: 19px;
    width: 100%;
    justify-content: center;
    padding: 14px 25px 14px;
  }
  .title-center{
    margin-bottom: 28px;
  }
  &-top__view{
    display: flex;
    flex-direction: column;
    span{
      font-size: 18px;
      line-height: 32px;
      color: $gray-100;
    }
    select{
      font-size: 18px;
      line-height: 32px;
      height: 43px;
      text-transform: uppercase;
      color: $primary;
      border: 0;
      border-bottom: 1px solid $primary;
      margin-bottom: 25px;
      width: 100%;
      max-width: 100%;
    }
  }
}
.reviews-wrap{}
.reviews-item{
  padding-bottom: 13px;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray-100;
  &__title{
    width: calc(100% - 150px);
    font-size: 18px;
    line-height: 32px;
    color: $default;
    margin-bottom: 16px;
  }
  &__rating{
    display: flex;
    align-items: center;
    margin: 0 -2px;
    .is-active{
      .icon{
        fill: $primary;
      }
    }
    li{
      margin: 0 3px;
      height: 16px;
      .icon{
        width: 14px;
        height: 14px;
        fill: transparent;
        stroke: $primary;
        position: relative;
        top: -7px;
      }
    }
  }
  &__date{
    font-size: 14px;
    line-height: 18px;
    color: $default-100;
    width: 150px;
    text-align: right;
    padding-top: 15px;

  }
  &__text, &__answer-text{
    font-size: 14px;
    line-height: 21px;
    color: $default;
  }
  &__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  &__answer{
    background: $gray;
    padding: 10px;
    box-sizing: border-box;
  }
  &__answer-title{
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 10px;
  }
}
.reviews-form{
  box-sizing: border-box;
  padding: 30px 15px;
  background: $gray;
  margin: 0 -15px;
  .title-center{
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  .rating-group{
    margin: 0 0 22px;
  }
  .label-text{
    margin-bottom: 3px;
  }
  .label{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .textarea-label{
    display: none;
  }
  .textarea{
    display: block;
    width: 100%;
    padding: 17px 25px;
    height: 156px;
  }
  .input{
    padding: 10px 30px;
    width: 100%;
    height: 55px;
  }
  .form-info{
    font-size: 12px;
    margin: 16px 0 24px;
  }
  .btn-arrow{
    max-width: 280px;
  }
}