body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: $default;
  background-color: $white;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
  font-family: $monserant;
}
h1 {
  font-size: 36px;
  line-height: 38px;
  color: $default;
  font-weight: 400;
}

h2 {
  font-size: 36px;
  line-height: 36px;
  color: $default;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  color: $default;
}

h4 {
  font-size: 16px;
  line-height: 28px;
  color: $default;
}

h5 {
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

h6 {
  font-size: 14px;
  line-height: 21px;
  color: $default;
}

p {
  font-size: 14px;
  line-height: 23px;
}
.slick-slide{
  outline: none !important;
}
a{
  outline: none !important;
}
img {
  display: block;
  //width: 100%;
  font-size: 12px;
  line-height: 14px;
}

section {
  position: relative;
  padding: 40px 0;
  z-index: 1;
}
.title-center{
  text-align: center;
}
.label{
  font-family: $monserant;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.input, .select{
  border:1px solid  $gray-100;
  height: 46px;
  padding: 10px;
  font-family: $monserant;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $gray-100;
}
.textarea{
  border:1px solid  $gray;
  height: 146px;
  padding: 10px;
  font-family: $monserant;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $default;
  outline: none;
  resize: none;
}
input, select{
  outline: none;
}
.section {
  position: relative;
  padding: 100px 0;
}

.row.min {
  margin-left: -5px;
  margin-right: -5px;
}

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.overflow {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

a,
button,
input,
select,
textarea,
textarea,
span,
.icon {
  transition: all 150ms ease;
}
button{
  cursor: pointer;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn-line{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  padding: 12px 25px 13px;
  background: transparent;
  font-size: 18px;
  color: $white;
  border: 1px solid $white;
}
.btn-arrow{
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 188px;
  padding: 12px 25px 13px;
  background: $default;
  font-size: 18px;
  color: $white;
  .icon{
    width: 15px;
    fill: $primary;
    margin-left: 21px;
  }
}
.banner{
  background-size: cover !important;
  text-align: center;
  h2{
    margin-bottom: 27px;
  }
  .title-banner{
    h2{
      text-transform: uppercase;
      font-weight: 700;
      color: $white;
    }
  }
}
.accordion{
  &-item{
    padding: 14px 17px;
    border: 1px solid $gray-100;
    margin-bottom: 15px;
    text-align: center;
    &.active{
      background: #F8F5F2;
     .accordion-item__title{
       font-weight: 600;
       margin-bottom: 20px;
     }
     .accordion-item__content{
       display: block;
     }
    }
  }
  &-item__title{
    font-size: 18px;
    line-height: 19px;
    .icon{
      display: block;
      width: 16px;
      height: 16px;
      fill: $gray-100;
      margin: 12px auto 0;
    }
  }
  &-item__content{
    display: none;
    font-size: 18px;
    line-height: 19px;
    color: $primary;
  }
}
.wysiwyg{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $default;
  p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 8px;
  }
  b, strong{
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  ul{
    li{
      font-size: 14px;
      line-height: 20px;
      padding-left: 20px;
      margin-bottom: 10px;
      position: relative;
      &:before{
        position: absolute;
        content: '';
        left: 0;
        top: 10px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $primary;
      }
    }
  }
  ol{
    list-style: none;
    counter-reset: li;
    li{
      margin-bottom: 15px;
      &:before{
        content: counters(li,".") ". ";
        counter-increment: li;
        color: $default;
        font-weight: 700;
      }
    }
    ul{
      counter-reset: li;
      li{
        &:before{
          content: '';
        }
      }
    }
  }
  li{}
  a{
    font-size: 14px;
    line-height: 20px;
    color: $primary;
  }
  img{
    display: block;
    margin: 0 auto 20px;
  }
}
.pagination{
  margin-bottom: 20px;
  &-list{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon{
    width: 15px;
    height: 15px;
    fill: $default-100;
  }
  li{
    font-size: 24px;
    line-height: 24px;
    color: $primary;
    font-weight: 600;
    margin: 0 8px;
  }
  a{
    font-weight: 400;
    font-size: 18px;
    color: $default;
    text-decoration: underline;
    padding: 5px;
    &:hover{
      text-decoration: none;
    }
  }
  .is-disable{
    .icon{
      fill: rgba($default-100, .6);
    }
  }
  .is-active{
    font-size: 24px;
    line-height: 24px;
    color: $primary;
    font-weight: 600;
    margin: 0 8px;
    text-decoration: none;
  }
}

.rating-group{
  span{
    font-size: 14px;
    line-height: 15px;
    color: $primary;
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}
.rating-group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.rating__label{
  margin: 0 1px;
}
.rating-group .icon {
  pointer-events: none;
  width: 50px;
  height: 50px;
}

.rating__input {
  position: absolute !important;
  left: -9999px !important;
}

.rating__input--none {
  display: none
}

.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

.rating-group .icon {
  fill: $primary;
}

/* if any input is checked, make its following siblings grey */
.rating__input:checked ~ .rating__label .icon {
  fill: transparent;
  stroke: $gray-100;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .icon {
  fill: $primary;
}

/* make hovered input's following siblings grey on hover */
.rating__input:hover ~ .rating__label .icon {
  fill: transparent;
  stroke: $gray-100;
}