.vacancies{
  padding: 32px 0;
}
.vacancies-wrap{}
.vacancies-item{
  margin-bottom: 25px;
  &__title{
    font-size: 24px;
    color: #3A2412;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .9px;
    line-height: 33px;
  }
  &__text{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 9px;
    p{
      margin-bottom: 9px;
      line-height: 25px;
    }
  }
  &__price{
    span{
      color: $gray-100;
      display: block;
      font-size: 18px;
      line-height: 32px;
      &.vacancies-item__price-count{
        color: $primary;
        font-size: 18px;
        b{
          font-size: 24px;
        }
      }
    }
  }
}
